<p id="notice"><%= notice %></p>

<p>
  <strong>Firts name:</strong>
  <%= @user.firts_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
