<% if signed_in? %>
  <%= form_for([@product, @product.comments.build]) do |f| %>
    <p>
      <%= f.text_area :body, class: "form-control", id:"comment_area", placeholder:"Write your review here" %>
    </p>
    <p>
      <%= f.label :rating %><br>
      <%= f.text_field :rating, class: "form-control", id:"rating-area", placeholder:"number 1 out of 10" %>
    </p>  
    <p>
      <%= f.submit 'Submit', class: 'btn btn-default' %>
    </p>
  <% end %>
<% end %>