<%= render 'carousel' %>

<p id="notice"><%= notice %></p>

<h1 class="titelproductpage">Waiting for new owners</h1>

<!--
<table class="producttable">
  <thead>
    <tr class="table">
      <th>Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Colour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr class="table">
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= product.colour %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <%= render @products %>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Product', new_product_path %>
