
<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <%= image_tag(@product.image_url, class: "owlimage") %>
    <div class="caption">
       <h2><%= @product.name %></h2>
         <p> <span class="glyphicon glyphicon-menu-right" area-hidden="true"></span><i><%= @product.latin_name %></i></p>
         <p><span class="glyphicon glyphicon-menu-right" area-hidden="true"></span><%= @product.description %></p>
         <p><span class="glyphicon glyphicon-menu-right" area-hidden="true"></span><%= @product.colour %></p>
         <p> <span class="glyphicon glyphicon-tag" area-hidden="true"></span> € <%= @product.price %></p>
         <div class= "av_comment row">
           <div class="col-sm-4 col-md-4">
             <p> <span class="glyphicon glyphicon-hand-right" area-hidden="true"> </span> Average rating</p> 
           </div>
           <div class="col-sm-8 col-md-8">  
             <div class="rated" data-score="<%= @product.average_rating %>"></div>
           </div>
         </div> 
         <div class="row">
           <div class="col-sm-4 col-md-4">
            <p> <span class="glyphicon glyphicon-hand-right" area-hidden="true"> </span> Get your owl here </p>
           </div>
           <div class="col-sm-4 col-md-4">
            <%= form_tag "/payments/create" do %>
             <%= render "stripe_checkout_button" %>
            <% end %>
           </div>
         </div>  
        <div class="leave_comment">
          <p class="pull-left"> <span class="glyphicon glyphicon-thumbs-up" area-hidden="true"></span> Tell others how awesome you owls is, leave a review!!
          </p>
          <div class="new_comment">
            <%= render 'new_comment' %>
          </div>  
        <div>
        <div>
          <%= render 'comments' %>
        </div>  
    </div> <!--caption-->
    <%= will_paginate @comments %>
  </div>
</div>

<div>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>
