<!DOCTYPE html>
<html>
<head>
  <title>RailsAppOne</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

<!--navigation -->
<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul>
        <li class="navbar-brand">
          <%=link_to "OWLS R'US", static_pages_about_path %>
        </li>
      </ul>
    </div>

    <!-- product and contact link -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active page-scroll"> <span class="sr-only">(current)</span>
          <%= link_to "Products", products_path %>
        </li>
        <li class="page-scroll">
      <%=link_to "Contact", static_pages_contact_path %>
        </li>
      </ul>

    <!--search field and btn-->
        <%= form_tag("/products", method: "get", :class=> "navbar-form navbar-right") do %>
          <%= text_field_tag(:q, "", class: "form-control selector", placeholder: "Find your owl") %>
          <%= submit_tag("Hit me!", class: "btn btn-default") %>
        <% end %>
      
      <!--login link-->
      <ul class="nav navbar-nav navbar-right">
        <li class="login">
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        <% else %>
          <%= link_to('Login', new_user_session_path) %>
        <% end %>          
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!--flash notice tages. This block will display a welcome message when you login -->
  <% if notice %>
    <p id="notice" class=" alert alert-succes" role="alert">
      <%= notice %>
    </p>  
  <%end%>
  <%if alert %>  
    <p id="alert" class=" alert alert-danger" role="alert">
      <%= alert %>
    </p>
  <%end%>  

  <%= yield %>

  <footer>
    <p>Copyright &copy; owls R'Us</p>
  </footer>

</body>
</html>
