<!DOCTYPE html>
<html>
<head>
  <title>RailsAppOne</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#page-top">Owls R'us</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right pull-right">
                  <li class="hidden">
                      <a href="#page-top"></a>
                  </li>
                  <li class="page-scroll">
                      <%= link_to "Products", products_path %>
                  </li>
                  <li class="page-scroll">
                      <%= link_to "about", static_pages_about_path %> 
                  </li>
                  <li class="page-scroll">
                      <%=link_to "Contact", static_pages_contact_path %> 
                  </li>
              </ul>
                  <div class="search">
                    <%= form_tag("/products", method: "get") do %>

                    <form class="navbar-form navbar-right" role="search">
                        <%= label_tag(:q, "Search for") %>
                        <%= text_field_tag(:q) %>
                        <%= submit_tag "Search", class: 'btn btn-default navbar-btn' %> 
                    </form>

                    <% end %>
                  </div>  
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>

<!--removed carousel to a partial and applied it only to product and about page" 

<%= yield %>

  <footer>
    <p>Copyright &copy; owls R'Us</p>
  </footer>

</body>
</html>
